
:root.theme-dark {
    --header-bg-image: url(../images/cover-image-dark.png);
    --header-title-size: 116px;
    --header-title-line-height: 96px;
    --header-title-color: #DB00FF;
    --title-shadow-color: #FF0070;
    --header-button-line-height: 18px;
    --bg-color: #000028;
    --text-size: 18px;
    --text-font-family: 'IBM Plex Mono', sans-serif;
    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --text-line-height: 23.4px;
    --text-subtitle-color: #000028;
    --text-accent-color: #FF0070;
    --accent-bg-color: #FF0070;
    --text-main-color: #F1B2CE;
  }
  



  

