/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  place-items: center;
  max-width: 375px;
  position: relative;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__title {
  max-width: 355px;
  font-family: IBM Plex Mono, sans-serif;
  font-size: 116px;
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  color: #DB00FF;
  text-shadow: 4px 4px #FF0070;
}

.header__subtitle {
  background-color:#FF0070;
  color: #000028;
  width: 355px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header__image {
  object-fit: cover;
  background-position: center;
  background-size: cover;
  position: relative;
  max-width: 375px;
  max-height: 668px;
}









.gallery__img {
  max-width: 355px;
  margin: auto;
}