:root {
  --header-bg-image: url(../images/cover-image-dark.png);
  --header-title-size: 116px;
  --header-title-line-height: 96px;
  --header-button-line-height: 18px;
  --bg-color: #000028;
  --text-size: 18px;
  --text-font-family: 'IBM Plex Mono', sans-serif;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --text-line-height: 23.4px;
  --subtitle-color: #000028;
  --text-main-color: #F1B2CE;
  --title-color: #DB00FF;
  --shadow-color: #FF0070;
  --text-accent-color: #FF0070;
  --accent-bg-color: #FF0070;
  --footer-title-shadow-color: #FF0070;
  --button-outline-color: #FF007066;
  --header-rec-toggle: block;
}